@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-defaut: 'Poppins', Arial, Helvetica, sans-serif;

    --fundo-principal: #f5f5f5;
    --texto: #222;
    --texto-inverso: #fff;
    --destaque: #007bff;
    --destaque-inverso: #6bf;
    --fundo-card: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo-principal);
    color: var(--texto);
    font-family: var(--font-defaut);
    font-size: 1rem;
    line-height: 1.6rem;
}

#menu {
    align-content: center;
    background-color: var(--destaque);
    color: var(--texto);
    display: flex;
    padding: 1.5rem;
    justify-content: end;

    ul {
        display: flex;
        gap: 0.5rem;
        list-style: none;
    }

    a {
        border-radius: 4px;
        color: var(--texto-inverso);
        font-weight: 400;
        padding: 0.3em 1rem;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--fundo-principal);
            color: var(--texto);
        }
    }
}

#content {
    /* background-color: red; */
    display: grid;
    /* gap: 1.5rem; */
    grid-template-columns: auto 90vw auto;
}

#ficha {
    background-color: var(--fundo-card);
    grid-column: 2;
    padding: 0 1.5rem;

    .ficha-img {
        aspect-ratio: 1 / 1;
        border: 0.3rem solid var(--fundo-principal);
        border-radius: 50%;
        display: block;
        margin: 2.5rem auto 1.5rem auto;
        outline: 0.3rem solid var(--destaque);
        width: 200px;
    }

    h1 {
        color: var(--destaque);
        font-size: clamp(1.8rem, 1rem + 2.5vw, 3rem);
        letter-spacing: 3px;
        line-height: 2rem;
        text-align: center;
    }

    p {
        text-align: justify;
        margin: 1.5rem 0;
    }

    .ficha-social {
        align-items: center;
        display: flex;
        font-size: 1.6rem;
        gap: 1rem;
        justify-content: center;

        a {
            color: var(--destaque);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--texto);
            }
        }
    }
}

#detalhes {
    grid-column: 2;

    h2 {
        color: var(--texto);
        font-size: clamp(1.1rem, 0.9rem + 0.8vw, 1.5rem);
        font-weight: 300;
        letter-spacing: 3px;
        margin-bottom: 1rem;
        text-transform: capitalize;

        span {
            color: var(--destaque);
            font-weight: 700;
        }

        &::after {
            background: var(--texto);
            content: '';
            display: block;
            height: 1px;
            margin-top: 3px;
            width: 10%;
        }
    }

    .video,
    .skills,
    .formacao,
    .projetos {
        background-color: var(--fundo-card);
        border-radius: 0.625rem;
        margin: 1.5rem 0;
        padding: 1.5rem;
    }

    .iframe {
        aspect-ratio: 16 / 9;
        margin: 0 auto;
        width: 100%;

        iframe {
            border-radius: 0.625rem;
            height: 100%;
            width: 100%;
        }
    }
}

.skill-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    /* margin-bottom: 1rem; */

    .skill-info {
        align-items: center;
        display: flex;
        justify-content: space-between;

        margin-bottom: 8px;

        .skill-name {
            color: var(--texto);
            font-size: 0.95rem;
            font-weight: 500;
        }

        .skill-percent {
            color: var(--texto);
            font-size: 0.85rem;
            /* font-weight: 500; */
            opacity: 0.8;
        }

    }

    .skill-bar {
        background-color: #e0e0e0;
        border-radius: 4px;
        height: 0.5rem;
        overflow: hidden;
        width: 100%;

        .skill-bar-progress {
            animation: fillProgress 2s cubic-bezier(0.1, 0.7, 0.1, 1) forwards;
            background: linear-gradient(90deg, var(--destaque), var(--destaque-inverso));
            box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
            border-radius: 4px;
            height: 100%;
        }
    }
}


@keyframes fillProgress {
    from {
        width: 0;
        filter: brightness(1.5);
        /* Começa brilhando e volta ao normal */
    }

    to {
        width: var(--width);
    }
}


@media screen and (min-width: 768px) {
    .skill-container {
        grid-template-columns: 1fr 1fr;
    }
